<%= link_to blog_post do %>
  <% if blog_post %>
    <% if blog_post.cover_image %>
      <%= image_tag blog_post.cover_image.variant(resize_to_limit: [800, 800]), class: "rounded-md object-cover h-[500px] w-[900px]"%>
    <% end %>
    <div class="-mt-24 ml-10 p-4 max-w-xs bg-gray-100 border border-grey-200 rounded-lg shadow
dark:bg-gray-800 dark:border-gray-700 relative z-10">
      <% if blog_post.title.present? %>
        <h2 class="font-bold text-3xl text-gray-800"><%=
    blog_post.title.titleize %></h2>
      <% else %>
        <h2 class="font-bold text-3xl text-gray-800"><%=
  blog_post.section.titleize %></h2>
      <% end %>
      <div class="pb-7">Total Hours: <%= blog_post.duration %>
      </div>
      <div class="flex justify-between items-center">
        <button class="bg-slate-200 border-0 rounded-md px-2 py-1 text-sm text-[rgb(80,124,92)]"><%= blog_post.kit %></button>
        <div class="text-slate-500 text-sm"><%=
            blog_post.completed.to_fs(:long_ordinal)%>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
