<%= tag.div id: dom_id(user_pdf) do %>
  <%= turbo_stream_from user_pdf %>
  <div>
    <div
      class='
        flex flex-col justify-center gap-5 border-2 p-4 shadow-md sm:mt-10 ml-10 mr-10
        rounded
      '
    >
      <div class="flex justify-center gap-4 ">
        <%= link_to "Start New Upload",
        root_path,
        class:
          " self-center
                                                py-2 px-4 text-[rgb(80,124,92)] text-xs
                                                 sm:text-base hover:text-gray-400 font-semibold border rounded",
        data: {
          turbo_frame: "new_user_pdf",
        } %>
      </div>
      <div id="processing" class="text-gray-400">
        <% unless user_pdf.colored_pdfs.any? %>
          <p>Processing...</p>
        <% end %>
      </div>
      <div class="flex flex-col justify-center gap-5">

        <% user_pdf.colored_pdfs.each do |pdf| %>
          <div class="flex justify-center gap-5 text-gray-400">
            <div class="flex flex-col">

              <p><%= pdf.filename.to_s %></p>
              <p>
                <%= pdf.metadata["status"] %>
              </p>
            </div>
            <%= link_to "Download file",
            rails_blob_path(pdf, disposition: "attachment"),
            class:
              "shadow min-w-max max-h-fit bg-[rgb(80,124,92)]
                                                                    hover:bg-gray-400 focus:shadow-outline
                                                                    focus:outline-none text-white font-bold m-2 py-2 px-4 rounded max-w-min" %>

          </div>
        <% end %>

      </div>
      <div class="flex flex-around mt-8">
        <div
          class="
            flex flex-col bg-gray-300 py-2 px-4 gap-2 m-2 hover:bg-gray-400 rounded-md
          "
        >
          <%= button_to "Click here to generate a new set of random colors!",
          user_pdf_path(user_pdf),
          method: :patch,
          class:
            "
                                                           self-center
                                                              focus:outline-none text-gray-900 font-bold text-center " %>
        </div>
      </div>
    </div>
  </div>
<% end %>
