<%= turbo_frame_tag id="new_user_pdf"  do %>

  <%= form_with model: @user_pdf, data: {controller: "upload"}  do |form| %>
    <%= form.label :pdf, class: "hidden"  %>
    <div class="mt-20 flex w-full items-center justify-center bg-grey-lighter">
      <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-white">
        <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
        </svg>
        <span class="mt-2 text-base leading-normal">Select a file</span>
        <%= form.file_field :pdf, class: "hidden", data: {

                upload_target: "input",
                action: "change->upload#updateFile"
              }%>
      </label>
    </div>
    <div class="flex flex-col items-center">
    <p class="m-4 text-sm text-gray-500 dark:text-gray-300" id="file_input_help"data-upload-target="filename">
    Uploaded file must be a PDF with searchable text.</p>

    <div class="actions">
      <%= form.submit "Submit",
                  class:
                  "rounded-md border border-slate-300 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none",
                data: { upload_target: "submit" },
            disabled: true%>
    </div>
    </div>
  <% end %>
  <%#PDf information %>
  <div class="flex justify-center w-full max-w-5xl p-5 dark:text-gray-600">
    <%= link_to "*Click here for list of files with known issues*",
    files_info_path,
    class: "hover:text-red-500",
    data: {
      turbo_frame: "_top",
    } %>
  </div>
<% end %>
