<!DOCTYPE html>
<html>
  <head>
    <title>StrabismusPdf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload",
    defer: true %>

    <%= favicon_link_tag asset_path('airplane.png') %>
  </head>
  <body>
        <%= link_to "Home", root_path, class: "absolute bg-white m-1 top-0 left-0 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
    <% flash.each do |type, msg| %>
<div class="mb-3 inline-flex justify-center w-full items-center rounded-lg bg-primary-100 px-6 py-5 text-base text-primary-700">

  <%= msg %>
</div>
    
    
  
<% end %>
    <div class=" absolute top-0 right-0 p-2">
      <script class="shadow-xl" type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="VansRVcolorcode" data-color="#507c5c" data-emoji="ðŸº"  data-font="Cookie" data-text="Buy me a beer" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </div>
    <div class="flex justify-center">
      <%= yield %>
    </div>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
  </body>
  <footer>
  </footer>
</html>
