<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQSPYT4F07"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

       gtag('config', 'G-MQSPYT4F07');
    </script>
    <title>Color Vans Plans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload",
    defer: true %>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <%= favicon_link_tag asset_path('airplane.png') %>
  </head>
  <body class="flex flex-col items-center bg-gray-100 ">
    <div class="flex justify-center sticky top-0 w-full bg-white shadow-md">
      <div class="flex justify-between items-center w-full max-w-5xl ">
        <div class="flex justify-around">
          <div class="pl-2 sm:pl-6">
            <%= image_tag("plane-96.png", size: '60x40' ) %>
          </div>
          <h1 class="text-sm sm:text-2xl text-[rgb(80,124,92)] self-center pl-0 sm:pl-4">RV-10</h1>
        </div>
        <div class="flex flex-around items-center ">
          <%= link_to "Home", root_path, class: "text-[rgb(80,124,92)] text-xs
      sm:text-base m-2 top-0 hover:text-gray-400 font-semibold py-2 px-2" %>
          <p class ="text-[rgb(80,124,92)]">|</p>
          <%= link_to "Info", parse_show_path, class: "text-[rgb(80,124,92)] text-xs
      sm:text-base m-2
      top-0 hover:text-gray-400 font-semibold py-2 px-2" %>
          <p class ="text-[rgb(80,124,92)]">|</p>
          <a href="https://www.buymeacoffee.com/vansrvcolorcode" class=" text-xs
      sm:text-base top-0
         m-2 p-2 
        hover:text-gray-400
         text-[rgb(80,124,92)] font-semibold min-w-fit"> &#127866; Buy me a beer</a>
        </div>
      </div>
    </div>
    <% flash.each do |type, msg| %>
      <div class="mb-3 inline-flex justify-center w-full items-center rounded-lg bg-primary-100 px-6 py-5 text-base text-primary-700">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <footer class='flex sticky justify-center bottom-0 w-full bg-[rgb(80,124,92)] p-3'>
    <div class="flex w-full max-w-5xl ">
      <%=link_to image_tag('github-mark.png', size: '40x40'),
       'https://github.com/jmilljr24/StrabismusPDF' %>
      <a href="https://github.com/jmilljr24/StrabismusPDF" class="self-center pl-1.5 text-[0.6rem]">Feel free to check out the source<br/>
        code and offer any suggestions</a>
    </div>
  </footer>
</html>
